@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Michroma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #7ab2d9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Queering", sans-serif;
  src: url("./Queering.woff");
}

.container {
  font-family: Queering, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.main {
  font-size: 11rem;
  font-weight: 100;
  /* width: 1000px;
  height: 900px; */
  /* text-align: center;
  align-content: center; */
  justify-content: center;
  line-height: 130px;
  text-align: center;
  font-family: Queering;
}

// marquee
.marquee-text {
  position: relative;
  font-weight: 500;
}
.marquee {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #efef50;
  width: 1440px;
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
  justify-content: center;
  gap: 92px;
  font-size: 1rem;
  color: #000;
  font-family: "Michroma", sans-serif;

  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.marquee .marquee-text {
  display: inline-block;
  padding-left: 3rem;
  text-indent: 0;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

/* preloader  */
.preloader {
  font-family: "Michroma", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.countdown {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.countdown.style-1 div {
  margin: 0 1rem;
}
.countdown div {
  font-size: 5rem;
  font-weight: 100;
  display: inline-block;
}
.countdown div span {
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
}

// responsivness
/* For screens with width of 600px or less */

@media (max-width: 768px) {
  .preloader {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .countdown div {
    font-size: 3rem;
  }
}
/* main  */
@media (max-width: 500px) {
  .main {
    font-size: 6rem;
    line-height: 5rem;
  }
}
/* countdown  */
@media (max-width: 400px) {
  .countdown div {
    font-size: 2rem;
  }
  .countdown.style-1 div {
    margin: 0;
  }
}

/* splitting */
.main,
.zip-it,
.split-it {
  .char {
    color: #00c9b1;
  }

  .char,
  .char:before,
  .char:after {
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: calc(0.2s * var(--distance-percent));
  }

  .char:before,
  .char:after {
    visibility: visible;
    color: #fff;
  }

  .char:before {
    clip-path: polygon(0 0, 100% 0, 100% 54%, 0 54%);
  }

  .char:after {
    clip-path: polygon(0 46%, 100% 46%, 100% 100%, 0 100%);
  }

  &:hover .char:before {
    transform: translateY(-45%) scaleY(0);
  }
  &:hover .char:after {
    transform: translateY(45%) scaleY(0);
  }
}

.zip-it {
  .char,
  .char:before,
  .char:after {
    transition-delay: calc(0.5s * (1 - var(--char-percent)));
  }
  &:hover {
    .char,
    .char:before,
    .char:after {
      transition-delay: calc(0.5s * var(--char-percent));
    }
  }
}
