@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Michroma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Michroma", sans-serif;
  src: url("/Queering.otf");
}

.container {
  font-family: Queering, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

// marquee
.marquee-text {
  position: relative;
  font-weight: 500;
}
.marquee {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #efef50;
  width: 1440px;
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
  justify-content: center;
  gap: 92px;
  font-size: 1rem;
  color: #000;
  font-family: Inter;

  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.marquee .marquee-text {
  display: inline-block;
  padding-left: 3rem;
  text-indent: 0;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

/* preloader  */
.preloader {
  font-family: "Michroma", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.countdown {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  text-align: center;
}
.countdown.style-1 div {
  margin: 0 1rem;
}
.countdown div {
  font-size: 5rem;
  font-weight: 100;
  display: inline-block;
}
.countdown div span {
  font-weight: 300;
  color: #777;
  font-size: 1rem;
}

// responsivness
/* For screens with a width of 600px or less */

@media (max-width: 768px) {
  .preloader {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .countdown div {
    font-size: 3rem;
  }
}

/* For screens with a width of 400px or less */
@media (max-width: 400px) {
  .countdown div {
    font-size: 2rem;
  }
  .countdown.style-1 div {
    margin: 0;
  }
}
